In [ ]:
# 캐글의 산탄데르 고객 만족(Santander Customer Satisfaction) 데이터 세트
# - 370개 피처 
# - 고객 만족 여부 예측
#   - 1 : 불만을 가진 고객
#   - 0 : 만족한 고객

# 모델의 성능 평가는 ROC-AUC(ROC 곡선 영역)로 평가
# 대부분이 만족이고 불만족인 데이터는 일부일 것 → ROC-AUC가 더 적합
# https://www.kaggle.com/c/santander-customer-satisfaction/data

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

cust_df = pd.read_csv('./data/train_santander.csv', encoding='latin-1')
cust_df.shape

(76020, 371)

In [4]:
cust_df.head(3)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.17,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.03,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.77,0